@charset "UTF-8";

        body{
            background-color: rgb(186, 186, 218);
            font-family: 'Times New Roman', Times, serif;
            }
        h1#especifico{
            text-align: center;
            width: 510px;
            height: 38px;
            padding: 3px;
            background-color: rgb(218, 77, 34);
            color: white;    
            margin: auto;        
        }
        h1{
            background-color: rgb(218, 77, 34);
            color: white;
            padding: 3px;
        }
        h2{
            font-size: 1.6em;
        }
        p{
            text-align: justify;
        }