@charset "UTF-8";

body{
    background: linear-gradient(to bottom right, rgb(98, 0, 255), rgb(0, 0, 0));

}
main{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 575px;
    height: 757px;
    padding: 7px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(33, 2, 73);

}
a{
    font-size: 20PX;
    color: blueviolet;
}
.links {
    display: flex;
    justify-content: space-between;
}
html, body {
    height: 100%;
}